<div class="shell text-center">
  <h2 class="divider offset-top-80">
    <% if @message.id %>
      Modifier le message - <%= @message.object %>
    <% else %>
      Créer un message
    <% end %>
  </h2>
  <div class="range">
    <div class="cell-md-10 cell-md-preffix-1">
      <p class="h5">Create your contact form in seconds. With CF you can manage multiple contact forms easly.</p>
    </div>
  </div>
  <div class="range offset-md-top-60">
    <div class="cell-lg-8 cell-lg-preffix-2">
      <!-- RD Mailform-->
      <%= form_for @message, html: {multipart: true, class: "rd-mailform text-left offset-top-57"} do |f| %>
        <div class="range">
          <%= render 'shared/errors', resource: @message %>

          <%= render 'layouts/inputRecipient', render_src: 'recipients_messages/list',resource: @message.recipients_messages %>

          <div class="cell-sm-12 offset-top-48">
            <div class="form-group">
              <label for="last-name" class="form-label">Objet</label>
              <%= f.text_field :object, placeholder:"Objet", class:"form-control" %>
            </div>
          </div>
          <div class="cell-sm-12 offset-top-48">
            <div class="form-group">
              <label for="first-name" class="form-label">Message</label>
              <%= f.text_area :content, placeholder:"Message", class:"form-control" %>
            </div>
          </div>
          <%#= javascript_include_tag 'upload' %>
          <div class="cell-xs-12 text-center offset-top-27">
            <%= f.submit "Je valide mon message", class:"btn btn-primary btn-sm btn-min-width-230" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>