<%= content_for :meta_title, "#{@message.object} | #{DEFAULT_META["meta_title"]}" %>
<%= content_for :meta_description, "#{@message.content.html_safe} | #{DEFAULT_META["meta_description"]}" %>
<div class="shell">
  <h2 class="divider offset-top-40 offset-md-top-80 text-center">Message - <%= @message.object %>
    <a href="<%= edit_message_path(@message) %>" class="btn btn-primary btn-sm btn-icon btn-icon-left"><span class="icon icon-white fa-edit"></span>Modifier</a>
  </h2>
  <div class="range">
    <div class="cell-md-8 cell-md-preffix-2">
      <div class="h3"><%= 'Objet - ' + @message.object %></div>
      <p class="small txt-darker">Statut - <%= @message.status %></p>
      <hr class="offset-top-12"/>
      <div class="content-textarea">
        <h3>Contenu</h3>
        <div class="content-textarea"><%= @message.content.html_safe %></div>
      </div>
      <div>
        <h3>Les destinataires</h3>
        <p>
          <% @recipients_messages.each do |recipients_message| %>
            <span><%=  recipients_message.recipient %>; </span>
          <% end %> </p>
      </div>
    </div>
  </div>
</div>