<div class="shell text-center">
  <ol class="breadcrumb display-flex jc-center">
    <li><%= link_to 'Datafter', root_path%></li>
    <li  class="text-ellipsis"><%= link_to "Mes hommages", hommages_path%></li>
    <% if @hommage.id %>
      <li class="text-ellipsis"><a href="<%= hommage_path(@hommage) %>">Détail <%= @hommage.first_name + "Hommage " + @hommage.last_name%></a></li>
      <li class="text-ellipsis">Modifier l'hommage <%= @hommage.first_name %> <%= @hommage.last_name %></li>
    <% else %>
      <li>Rendre un hommage</li>
    <% end %>
  </ol>
  <h2 class="divider offset-top-80">
    <% if @hommage.id %>
      Modifier l'hommage de <%= @hommage.first_name %> <%= @hommage.last_name %>
    <% else %>
      Rendre un hommage
    <% end %>
  </h2>
  <div class="range">
    <div class="cell-md-10 cell-md-preffix-1">
      <p class="h5">Create your contact form in seconds. With CF you can manage multiple contact forms easly.</p>
    </div>
  </div>
  <div class="range offset-md-top-60 offset-top-50">
    <div class="cell-lg-8 cell-lg-preffix-2">
      <!-- RD Mailform-->
      <%= form_for @hommage, html: {multipart: true, class: "rd-mailform text-left offset-top-57"} do |f| %>
        <%= render 'shared/errors' %>
        <div class="range">
          <div class="cell-sm-6">
            <div class="form-group">
              <label for="last-name" class="form-label">Nom du défunt</label>
              <%= f.text_field :last_name, placeholder:"Nom du défunt", class:"form-control" %>
            </div>
          </div>
          <div class="cell-sm-6">
            <div class="form-group">
              <label for="first-name" class="form-label">Prénom du défunt</label>
              <%= f.text_field :first_name, placeholder:"Prénom du défunt", class:"form-control" %>
            </div>
          </div>
          <div class="cell-sm-6 offset-top-46">
            <div class="form-group">
              <label for="date-birth" class="form-label">Date de naissance</label>
              <%= f.date_field :date_birth, class:"form-control" %>
            </div>
          </div>
          <div class="cell-sm-6 offset-top-46">
            <div class="form-group">
              <label for="date-death" class="form-label">Date de décès</label>
              <%= f.date_field :date_death, class:"form-control" %>
            </div>
          </div>
          <div class="cell-sm-12 offset-top-46">
            <div class="form-group">
              <label for="burial-place" class="form-label">Lieu de l'enterrement</label>
              <%= f.text_field :burial_place, placeholder:"Lieu de l'enterrement", class:"form-control" %>
            </div>
          </div>
          <div class="cell-sm-12 offset-top-46">
            <div class="form-group">
            <span class="btn btn-default btn-file">
              <label for="images" class="form-label">Ajouter des photos !</label>
              <%= file_field_tag "images[]", type: :file %>
            </span>
            </div>
            <% if @photos %>
              <div id="photos"><%= render 'photos/list', resource: @photos %></div>
            <% end %>
          </div>
          <div class="cell-sm-12 offset-top-46">
            <div class="form-group">
              <label for="burial-place" class="form-label">Biographie du défunt</label>
              <%= f.text_area :description, placeholder:"Biographie du défunt", class:"form-control" %>
            </div>
          </div>
          <div class="cell-xs-12 text-center offset-top-27">
            <%= f.submit "Je valide mon annonce", class:"btn btn-primary btn-sm btn-min-width-230" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>