<div class="shell">
  <div class="text-center">
    <ol class="breadcrumb">
      <li><%= link_to 'Datafter', root_path%></li>
      <li><%= link_to "Mes hommages", hommages_path%></li>
      <li>Detail <%= @hommage.first_name %> <%= @hommage.last_name %></li>
    </ol>
  </div>

  <h2 class="divider offset-top-40 offset-md-top-80 text-center">En Mémoire de <%= @hommage.first_name %> <%= @hommage.last_name %></h2>
  <div class="range">
    <div class="cell-sm-6 cell-sm-preffix-3 cell-md-4 cell-md-preffix-0">
      <div class="inset-md-right-22">
        <%= image_tag @photos[0].image.url(), class:"img-responsive" if @photos.length > 0 %>
        <!-- Accordion-->
        <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group offset-top-40">
          <div class="panel panel-default">
            <div id="headingOne" role="tab" class="panel-heading">
              <div class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><span class="btn-plus"></span>Visitation</a></div>
            </div>
            <div id="collapseOne" role="tabpanel" aria-labelledby="headingOne" class="panel-collapse collapse in">
              <div class="panel-body">Feel free to pay your respect to the people mentioned in our obituaries by making a visitation.</div>
            </div>
          </div>
          <div class="panel panel-default">
            <div id="headingTwo" role="tab" class="panel-heading">
              <div class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" class="collapsed"><span class="btn-plus"></span>Funeral Service</a></div>
            </div>
            <div id="collapseTwo" role="tabpanel" aria-labelledby="headingTwo" class="panel-collapse collapse">
              <div class="panel-body">You can share the organization of a funeral with relatives and friends of the deceased.</div>
            </div>
          </div>
          <div class="panel panel-default">
            <div id="headingThree" role="tab" class="panel-heading">
              <div class="panel-title"><a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree" class="collapsed"><span class="btn-plus"></span>Funeral Mass</a></div>
            </div>
            <div id="collapseThree" role="tabpanel" aria-labelledby="headingThree" class="panel-collapse collapse">
              <div class="panel-body">A Funeral Mass is an important sacrament of the Eucharist held by a deacons or a priest during a funeral.</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="cell-md-8">
      <div class="h3"><%= @hommage.first_name %> <%= @hommage.last_name %></div>
      <p class="small txt-darker"><%= @hommage.burial_place %></p>
      <p class="offset-md-top-17 reveal-inline-block"><%= @hommage.date_birth %> <%= @hommage.date_death %></p>
      <ul class="list-inline pull-xs-right list-inline-variant-2 offset-top-10">
        <li><%= link_to 'Datafter', root_path, class: "icon icon-xxs icon-darker fa-facebook"%></li>
        <li><%= link_to 'Datafter', root_path, class: "icon icon-xxs icon-darker fa-twitter"%></li>
        <li><%= link_to 'Datafter', root_path, class: "icon icon-xxs icon-darker fa-google"%></li>
      </ul>
      <hr class="offset-top-12"/>
      <!-- Responsive-tabs-->
      <div class="responsive-tabs responsive-tabs-default offset-top-57">
        <ul class="resp-tabs-list resp-tabs-list-3">
          <li>Obituary</li>
          <li>Photos</li>
          <li>Send Flowers</li>
        </ul>
        <div class="resp-tabs-container text-left">
          <div>
            <p><%= @hommage.description %></p>
            <h3 class="offset-top-63">Charitable Donations May be Made to</h3>
            <ul class="list offset-top-20">
              <li><span class="icon-xxs icon-darker icon fa-phone"></span> <span class="fw-bold">1-800-1234-567</span> <a href="callto:1-800-1234-567">Call us please</a>
              </li>
              <li><span class="icon-xxs icon-darker icon fa-map-marker"></span> <span class="txt-light"><a href="#">5750 S Kenwood Ave 3, Chicago, IL 60637</a></span>
              </li>
            </ul>
            <div class="btn-group-variant-2 offset-top-35 text-center text-xs-left"><a href="#" class="btn btn-xs btn-primary btn-min-width-240">Click to send flowers</a><a href="#" class="btn btn-xs btn-primary btn-min-width-240">View/Sign Guest Book</a></div>
          </div>
          <div>

            <!-- Slick Carousel-->
            <div data-arrows="true" data-loop="false" data-dots="false" data-swipe="true" data-xs-items="1" data-child="#child-carousel" data-for=".thumbnail-carousel" class="slick-slider carousel-parent offset-top-10">

              <% @photos.each do |photo| %>
                <div class="item">
                  <!-- PhotoSwipe-->
                  <a data-photo-swipe-item="" data-size="1200x789" href="<%= photo.image.url() %>" data-author="Unknow" class="figure">
                    <%= image_tag photo.image.url(), width: "770", height: "480", class:"img-responsive", alt: @hommage.first_name + " " + @hommage.last_name %>
                  </a>
                </div>
              <% end %>
            </div>
            <div id="child-carousel" data-for=".carousel-parent" data-arrows="true" data-loop="false" data-dots="false" data-swipe="true" data-items="1" data-xs-items="2" data-sm-items="3" data-md-items="4" data-lg-items="4" data-slide-to-scroll="1" class="slick-slider slick-slider-3 thumbnail-carousel">
              <% @photos.each do |photo| %>
                <div class="item">
                  <!-- PhotoSwipe-->
                  <%= image_tag photo.image.url(), width: "770", height: "480", class:"img-responsive", alt: @hommage.first_name + " " + @hommage.last_name %>
                </div>
              <% end %>
            </div>
          </div>
          <div>
            <h3>Allow us to take care of your expression of sympathy</h3>
            <p class="offset-top-20">The essence of a green funeral is age-old elemental simplicity. It rejects the so-called traditional funeral with its stuffy, Victorian, urban look, in favour of an outdoorsy, homespun, back-to-nature look. It prefers an unspoilt landscape to that of a regimented conventional cemetery. If it’s a look you like, natural burial is as lovely as it gets.</p>
            <ul class="list-marked list-marked-variant-2 offset-top-10 inset-xs-left-38">
              <li>Buy direct from our local area florist and save on wire service fees</li>
              <li>No need to enter our funeral home address, nor the service details - our order system already knows this</li>
              <li>Just pick out the flowers, add your message and pay online. Your order is immediately sent to our local flower shop</li>
              <li>We retain a copy of your order so we know that your flowers are on their way</li>
            </ul>
            <h3 class="txt-black offset-top-63">Bouquets</h3>
            <div class="range offset-top-0">
              <div class="cell-xs-6 cell-sm-3">
                <div class="thumbnail text-center thumbnail-product thumbnail-product-variant-1"><a href="single.html" class="img-link"><img src="images/obituaries-17-152x154.jpg" alt="" width="152" height="154"/></a>
                  <div class="caption">
                    <div class="reveal-block"><a href="single.html" class="h5 txt-matrix">Heavenly Red <br class="veil reveal-lg-inline"> Rose Hand-tied</a></div>
                    <div class="h4 reveal-inline-block">$39.00</div> <span class="txt-darker reveal-block reveal-lg-inline-block">
                    <del>$49.00</del></span><a href="#" class="btn btn-xs btn-primary">add to cart</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="offset-top-22 text-center text-md-left"><a href="catalog.html" class="btn btn-sm btn-transparent-2 btn-min-width-220">view all shop</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>