<div class="panel panel-default">
  <div class="panel-body">

    <div class="row">
      <div class="col-md-4">
        <%= image_tag @photos[0].image.url(), class:"img-responsive" if @photos.length > 0 %>
      </div>

      <div class="col-md-7">
        <h4><%= @hommage.lastfirst %> <%= @hommage.last_name %></h4>
        <p><%= @hommage.date_birth %> - <%= @hommage.date_death %></p>
        <hr>
        <p><%= @hommage.description %></p>
        <p>Lieu de l'enterrement : <%= @hommage.burial_place %></p>
      </div>

    </div>

  </div>
</div>