<div class="shell">
  <h2 class="divider offset-top-40 offset-md-top-80 text-center">Membre Datafter</h2>
  <div class="range">
    <div class="cell-sm-4">
      <div class="inset-md-right-22">
        <%= image_tag avatar_url(@user), class:"avatar-full", alt: @user.first_name, width: "345", height: "354" %>
        <ul class="list offset-top-15">
          <li><span class="icon-xxs icon-darker icon fa-phone"></span> <a href="callto:#" class="call-link"><span class="fw-bold"><%= @user.phone_number %></span></a>
          </li>
          <li><span class="icon-xxs icon-darker icon fa-map-marker"></span> <span class="txt-light"><a href="mailto:<%= @user.email %>"><%= @user.email %></a></span>
          </li>
        </ul><a href="mailto:<%= @user.email %>" class="btn btn-primary btn-sm btn-width-full offset-top-32">Contactez-moi</a>
      </div>
    </div>
    <div class="cell-sm-8">
      <div class="h3 reveal-block"><%= @user.first_name %> <%= @user.last_name %></div>
      <hr class="offset-top-12"/>
        <div class="offset-top-22">Vérification du compte : <% if @user.confirmed_at %>
            Email confirmé
          <% else %>
            Email non confirmé
          <% end %></div>
      <hr class="offset-top-12"/>
      <h4 class="divider-small offset-top-22">Biographie</h4>
      <div class="content-textarea"><%= @user.description.html_safe %></div>
    </div>
  </div>
</div>
