<div data-height="" data-min-height="" class="swiper-container swiper-slider">
  <div class="swiper-wrapper">
    <div data-slide-bg="/assets/images/slider-1-1920x700.jpg" class="swiper-slide"></div>
    <div data-slide-bg="/assets/images/slider-2-1920x700.jpg" class="swiper-slide"></div>
    <div data-slide-bg="/assets/images/slider-3-1920x700.jpg" class="swiper-slide"></div>
  </div>
  <!-- Swiper Navigation-->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
  <div class="jumbotron-wrap">
    <div class="jumbotron-variant-1">
      <h1>Un espace hommage<br class="veil reveal-lg-inline"> pour votre être cher</h1>
      <h5>Rendez hommage à un être cher<br class="veil reveal-lg-inline"> afin qu'il reste toujours présent et témoigner l'amour que vous lui portez.</h5>
      <div class="btn-group-variant-1"><%= link_to 'Contactez-nous', new_contact_path, :class => "btn btn-primary btn-sm" %><a href="/services" class="btn btn-transparent btn-sm">Service</a></div>
    </div>
  </div>
</div>
<!-- section out advantages-->
<section class="section-60 section-md-83 bg-pampas">
  <div class="shell">
    <h2 class="divider text-center">Nos avantages</h2>
    <div class="range text-center text-md-left">
      <div class="cell-md-4">
        <div class="media media-variant-1">
          <div class="media-left"><span class="icon icon-lg icon-comet thin-icon-checklist icon-round"></span></div>
          <div class="media-body inset-md-right-15">
            <h3>Planifiez à l'avance</h3>
            <p>Vous pouvez prendre ces décisions importantes dans l'intimité de votre domicile avec notre simple formulaire pour rendre hommage en ligne.</p>
          </div>
        </div>
      </div>
      <div class="cell-md-4">
        <div class="media media-variant-1">
          <div class="media-left"><span class="icon icon-lg icon-comet thin-icon-star icon-round"></span></div>
          <div class="media-body inset-md-right-15">
            <h3>Vivez la différence</h3>
            <p>Nous offrons aux familles des occasions uniques de créer des moments de guérison après une perte. Notre expérience vous aidera à découvrir des moyens de rendre hommage.</p>
          </div>
        </div>
      </div>
      <div class="cell-md-4">
        <div class="media media-variant-1">
          <div class="media-left"><span class="icon icon-lg icon-comet thin-icon-love icon-round"></span></div>
          <div class="media-body inset-md-right-15">
            <h3>Honorer la<br class="veil reveal-lg-inline"> Vie</h3>
            <p>Célébrer la vie que vous avez partagée est la pierre angulaire de la guérison après une perte.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section plan ahead-->
<!-- RD Parallax-->
<section class="rd-parallax">
  <div data-speed="0.5" data-type="media" data-url="/assets/images/index-1-1920x823.jpg" class="rd-parallax-layer"></div>
  <div data-speed="0" data-type="html" class="rd-parallax-layer">
    <div class="shell text-center txt-white section-60 section-md-83">
      <h2 class="divider">Planifier à l'avance</h2>
      <div class="range">
        <div class="cell-md-10 cell-md-preffix-1">
          <h5>La mort est sans aucun doute l’un des rares événements de la vie qui se produira à coup sûr. Un jour, vous allez prendre ton dernier souffle. Pour la plupart d'entre nous, c'est une pensée inquiétante. C’est pourtant quelque chose que vous devez planifier, pour votre tranquillité d’esprit, ainsi que pour le bien-être de ceux que vous laisserez derrière vous.</h5>
          <!--<div class="btn-group-variant-1 offset-top-30 offset-lg-top-40"><a href="#" class="btn btn-primary btn-sm btn-min-width-240">Start Pre-Planning</a>--><%= link_to 'Services', "/services", :class => "btn btn-transparent btn-sm btn-min-width-240" %>
            
            </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section Obituaries-->
<%= render 'layouts/hommages' %>
<!-- section Services & Pricing-->
<%= render 'layouts/services' %>
<!-- section Eco Funeral-->
<!-- RD Parallax-->
<section class="rd-parallax">
  <div data-speed="0.5" data-type="media" data-url="/assets/images/index-6-1920x896.jpg" class="rd-parallax-layer"></div>
  <div data-speed="0" data-type="html" class="rd-parallax-layer">
    <div class="shell text-center txt-white section-60 section-md-83">
      <!--<h2 class="divider">Eco Funeral</h2>-->
      <div class="range">
        <div class="cell-md-8 cell-md-preffix-2">
          <br><br><br><br><br><br><br><br><br>
          <!--<h5>Memorise is proud to offer green burials for those who are mindful of the environment. This unique option is the perfect way to leave behind an honorable legacy and a sustainable future for generations to come.</h5>
          <div class="btn-group-variant-1 offset-top-30 offset-lg-top-40"><a href="#" class="btn btn-primary btn-sm btn-min-width-240">schedule ceremony</a><a href="#" class="btn btn-transparent btn-sm btn-min-width-240">learn more</a></div>-->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- section Contact Us for Urgent Help-->
<section class="section-83">
  <div class="shell">
    <h2 class="text-center divider">Contactez-nous pour une aide</h2>
    <div class="range">
      <div class="cell-lg-8 cell-lg-preffix-2">
        <%= form_for @contact do |f| %>
            <div class="range">
              <div class="cell-sm-6">
                <div class="form-group">
                  <!--<label for="contact-name" class="form-label">Your first name</label>-->
                  <%= f.text_field :first_name, required: true, placeholder:"Votre prénom", :class => "form-control" %>
                </div>
              </div>
              <div class="cell-sm-6 offset-top-48 offset-sm-top-0">
                <div class="form-group">
                  <!--<label for="contact-name-last" class="form-label">Your last name</label>-->
                  <%= f.text_field :name, required: true, placeholder:"Votre nom", :class => "form-control" %>
                </div>
              </div>
              <div class="cell-sm-6 offset-top-48">
                <div class="form-group">
                  <!--<label for="contact-phone" class="form-label">Your phone</label>-->
                  <%= f.text_field :phone, required: true, placeholder:"Votre téléphone", :class => "form-control" %>
                </div>
              </div>
              <div class="cell-sm-6 offset-top-48">
                <div class="form-group">
                  <!--<label for="contact-email" class="form-label">Your email</label>-->
                  <%= f.text_field :email, required: true, placeholder:"Votre email", :class => "form-control" %>
                </div>
              </div>
              <div class="cell-xs-12 offset-top-48">
                <div class="form-group">
                  <!--<label for="contact-email" class="form-label">Your email</label>-->
                  <%= f.text_field :sujet, placeholder:"Sujet", :class => "form-control" %>
                </div>
              </div>
              <div class="cell-xs-12 offset-top-48">
                <div class="form-group">
                  <!--<label for="contact-message" class="form-label">Message</label>-->
                  <%= f.text_area :message, required: true, placeholder:"Votre message", :class => "form-control" %>
                </div>
              </div>
              <div class="cell-xs-12 text-center offset-top-27">
                <%= f.submit 'Envoyer', class:'btn btn-primary btn-sm btn-min-width-230' %>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
<%= render 'layouts/map' %>