<div class="row">
  <% if resource and defined?(resource.last_name) %>
    <div class="col-md-4" id="photo">
      <div class="panel-heading preview">
        <%= image_tag avatar_url(resource) %>
      </div>
      <button class="btn-width-full btn btn-transparent-2 btn-xxs" type="button" data-picture="<%= resource.last_name %>" value="<%= resource.avatar %>" onclick="deletePicture(this, '/users/update_avatar', 'put')">
        Suppression
      </button>
    </div>
  <% else %>
    <% resource.each do |photo| %>
      <div class="col-md-4" id="photo-<%= photo.id %>">
        <div class="panel-heading preview">
          <%= image_tag photo.image.url() %>
        </div>
        <button class="btn-width-full btn btn-transparent-2 btn-xxs" type="button" data-picture="<%= photo.id %>" value="<%= photo %>" onclick="deletePicture(this, `/photos/${<%= photo.id %>}`)">
          Suppression
        </button>
      </div>
    <% end %>
  <% end %>
</div>