<% if action_name == "home" and controller_name === "pages" %>
  <section class="section-60 section-md-83 bg-pampas">
    <div class="shell">
      <h2 class="text-center divider">Obituaries</h2>
      <div class="range text-center text-md-left">
        <% @hommages.each do |hommage| %>
          <div class="cell-xs-6 cell-md-3 offset-top-50 offset-md-top-0">
            <div class="thumbnail">  <%= image_tag hommage.photos[0].image.url(), class: "img-responsive", height: "270", width: "230" if hommage.photos.length > 0 %></div>
            <div class="caption offset-top-13"><%= link_to hommage.first_name + " - " + hommage.last_name, new_user_registration_path, class:"h3" %></a>
              <p class="small txt-darker"><%= hommage.burial_place %></p>
              <p class="offset-md-top-17"><%= hommage.date_birth %> - <%= hommage.date_death %></p>
            </div>
          </div>
        <% end %>
      </div>
      <div class="text-center offset-top-40"><a href="<%= hommages_path %>" class="btn btn-sm btn-transparent-2">view all obituaries</a></div>
    </div>
  </section>
<% else %>
  <div class="<% if action_name === 'search' %>rd-search-results offset-top-60 <% else %>range <% end %>">
    <% @hommages.each do |hommage| %>
      <div class="cell-xs-6 cell-md-3 offset-top-60 offset-md-top-0">
        <div class="thumbnail">
          <%= image_tag hommage.photos[0].image.url(), class: "img-responsive" if hommage.photos.length > 0 %>
        </div>
        <div class="caption offset-top-13">
          <%= link_to hommage.first_name + " - " + hommage.last_name, hommage_path(hommage), class:"h3" %>
          <p class="small txt-darker"><%= hommage.burial_place %></p>
          <p class="offset-md-top-17"><%= hommage.date_birth %> - <%= hommage.date_death %></p>
        </div>
      </div>
    <% end %>
  </div>
<% end %>