<header class="page-head header-minimal">
  <!-- RD Navbar-->
  <div class="rd-navbar-wrap">
    <nav class="rd-navbar" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fullwidth" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-sm-stick-up-offset="50px" data-lg-stick-up-offset="150px" data-stick-up="true" data-sm-stick-up="true" data-md-stick-up="true" data-lg-stick-up="true"><span data-rd-navbar-toggle="#rd-navbar-right-panel" data-custom-toggle-disable-on-blur="true" class="rd-navbar-right-panel-toggle"></span>
      <div class="rd-navbar-inner">
        <div class="rd-navbar-panel-wrap">
          <!-- RD Navbar Panel-->
          <div class="rd-navbar-panel">
            <!-- RD Navbar Toggle-->
            <button data-rd-navbar-toggle=".rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
            <!-- RD Navbar Brand-->
            <div class="rd-navbar-brand brand-static width-15rem"><a href="<%= root_path %>" class="brand-name">
              <div class="width-15rem">
                <img src="/assets/images/logos/logo.png" alt="" class=" width-15rem" width="235" height="71"/>
              </div>
            </a>
            </div>
          </div>
          <div id="rd-navbar-right-panel" class="rd-navbar-right-panel">
            <address class="address"><span class="icon icon-sm icon-white icon-border fa-map-marker"></span><span class="txt-darker"><a href="<%= root_path %>">5750 S Kenwood Ave 3,<br>Chicago, IL 60637</a></span></address>
            <div class="time"><span class="icon icon-sm icon-white icon-border fa-clock-o"></span><span>Mon–Fri 9:00–19:00 <br>Sat–Sun 10:00–17:00</span></div>
            <div class="contact-info"><span class="icon icon-sm icon-white icon-border fa-phone"></span><span><a href="callto:#"><span>1-800-1234-567</span> <br/><span>Call us please</span></a></span></div>
          </div>
        </div>
        <div class="rd-navbar-nav-wrap">
          <!-- RD Navbar Brand-->
          <div class="rd-navbar-brand brand-fixed">
            <a href="<%= root_path %>" class="brand-name">
              <div class="brand-logo">
                <img src="" alt="" width="235" height="71"/>
              </div>
            </a>
          </div>
          <!-- RD Search-->
          <form action="/hommages/search" method="GET" data-search-live="rd-search-results-live" class="rd-search">
            <div id="rd-search" class="form-group">
              <label for="rd-search-form-input" class="form-label">Search</label>
              <input id="rd-search-form-input" type="text" name="q[last_name_or_first_name_cont]" autocomplete="off" class="form-control"/>
              <button type="submit" class="fa-search"></button>
            </div>
            <div id="rd-search-results-live" class="rd-search-results-live"></div>
          </form><!--<span data-custom-toggle="rd-search" data-custom-toggle-disable-on-blur="true" class="rd-navbar-search-toggle"></span>-->

          <!-- RD Navbar Nav-->
          <ul class="rd-navbar-nav display-flex ai-center jc-center">
            <% if (!user_signed_in?) %>
              <li class="<%= active_for(path: "/") %>"><%= link_to 'Accueil', '/' %></li>
              <li class="<%= active_for(path: "/services") %>"><%= link_to 'Services', "/services" %></li>
              <li class="<%= active_for(path: "/hommages/list") %>"><%= link_to 'Hommage', list_hommages_path %></li>
                <li class="<%= active_for(path: "/animals/list") %>"><%= link_to 'Animaux', list_animals_path %></li>
              <li class="<%= active_for(path: "/contact") %>"><%= link_to 'Contact', new_contact_path %></li>
              <li class="<%= active_for(path: "/sign_up") %>"><%= link_to 'Inscription', new_user_registration_path %></li>
              <li class="<%= active_for(path: "/login") %>"><%= link_to 'Connexion', new_user_session_path %></li>
            <% else %>
              <li class="<%= active_for(path: "/") %>"><%= link_to 'Accueil', '/' %></li>
              <li class="<%= active_for(path: "/services") %>"><%= link_to 'Services', "/services" %></li>
              <li class="<%= active_for(path: "/hommages/list") %> <%= active_for(path: "/hommages") %>">
                <a href="#">Hommage</a>
                <ul class="rd-navbar-dropdown">
                  <li class="<%= active_for(path: "/hommages/list") %>"><%= link_to 'Hommage', list_hommages_path %></li>
                  <li class="<%= active_for(path: "/hommages") %>"><%= link_to 'Mes hommages', hommages_path %></li>
                </ul>
              </li>
                <li class="<%= active_for(path: "/animals/list") %> <%= active_for(path: "/animals") %>">
                  <a href="#">Animaux</a>
                  <ul class="rd-navbar-dropdown">
                    <li class="<%= active_for(path: "/animals/list") %>"><%= link_to 'Hommages animaux', list_animals_path %></li>
                    <li class="<%= active_for(path: "/animals") %>"><%= link_to 'Mes hommages pour animaux', animals_path %></li>
                  </ul>
                </li>
              <li class="<%= active_for(path: "/profile") %> <%= active_for(path: "/users/#{current_user.id}") %> <%= active_for(path: "/")%>">
                <a href="#">
                  <div class="display-flex ai-center">
                    <%= image_tag(avatar_url(current_user), class:"img-circle avatar-sm") %>
                    <div class="padding-left-xs max-width-sm text-ellipsis">
                      <%= current_user.last_name %> <%= current_user.first_name %>
                    </div>
                  </div>
                </a>
                <ul class="rd-navbar-dropdown">
                  <li class="<%= active_for(path: "/messages") %>"><%= link_to 'Mes messages', messages_path %></li>
                  <!--<li class="<%#<%= active_for(path: "/memories") %>"><%#<%= link_to 'Mes mémoires', memories_path %></li>-->
                  <li class="<%= active_for(path: "/messages/new") %>"><%= link_to 'Ajouter un message', new_message_path %></li>
                  <li class="<%= active_for(path: "/users/#{current_user.id}") %>"><%= link_to 'Mon profil', user_path(current_user) %></li>
                  <li class="<%= active_for(path: "/profile") %>"><%= link_to 'Modifier mon profil', edit_user_registration_path %></li>
                  <li><%= link_to 'Deconnexion', destroy_user_session_path, method: :delete %></li>
                </ul>
              </li>
                <li class="<%= active_for(path: "/contact") %>"><%= link_to 'Contact', new_contact_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>