<div class="rd-search-results offset-top-60">
  <% if @hommages.length == 0 %>
    <div class="h5 offset-top-90">Aucun résultat n'est trouvé</div>
  <% else %>
    <% @hommages.each do |hommage| %>
      <div class="cell-xs-6 cell-md-3 offset-top-60 offset-md-top-0">
        <div class="thumbnail">
          <%= image_tag hommage.photos[0].image.url(), width: "270", height: "230", class:"img-responsive", alt:hommage.first_name + " " + hommage.last_name if hommage.photos.length > 0 %>
        </div>
        <div class="caption offset-top-13">
          <%= link_to hommage.first_name + " - " + hommage.last_name, edit_hommage_path(hommage), class:"h3" %>
          <p class="small txt-darker"><%= hommage.burial_place %></p>
          <p class="offset-md-top-17"><%= hommage.date_birth %> - <%= hommage.date_death %></p>
        </div>
      </div>
    <% end %>
  <% end %>
</div>