<!DOCTYPE html>
<html class="height-100">
  <head>
    <title><%= meta_title %></title>

    <meta name="description" content="<%= meta_description %>">

    <meta property="og:title" content="<%= meta_title %>">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= meta_image %>">
    <meta property="og:description" content="<%= meta_description %>">
    <meta property="og:site_name" content="<%= meta_title %>">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:title" content="<%= meta_title %>">
    <meta name="twitter:description" content="<%= meta_description %>">
    <meta name="twitter:creator" content="<%= DEFAULT_META["twitter_account"] %>">
    <meta name="twitter:image:src" content="<%= meta_image %>">

    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('/assets/images/favicon/favicon.ico') %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=> 'reload' %>
  </head>

  <body class="height-100 display-flex overflow-x-hidden fd-column">
    <div class="display-flex flex-1 fd-column page">
      <div class="display-flex flex-1 fd-column page">
        <%= render 'layouts/navigation' %>
        <%= render 'shared/message' %>
        <main class="page-content flex-1">
          <% if controller_name == "errors" or (action_name == "home" and controller_name === "pages") %>
            <%= yield %>
          <% else %>
            <% if (controller_name == "hommages" and (action_name == "list" or action_name == "index" or action_name == "search")) %>
              <%= render 'hommages/banners' %>
            <% end %>
            <section class="section-53 section-bottom-78">
              <%= render "layouts/breadcrumb" %>
              <%= yield %>
            </section>
          <% end %>
        </main>

        <%= render 'layouts/footer' %>
      </div>
    </div>
    <% if (action_name == "show" and controller_name == "hommages") or (action_name == "pages" and controller_name == "home") %>
      <% render 'layouts/gallery' %>
    <% end %>

    <%= javascript_include_tag 'core.min' %>
    <%= javascript_include_tag 'jsfooter' %>
  </body>
</html>
