<!DOCTYPE html>
<html class="height-100">
  <head>
    <title>Datafter</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> 'reload' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track'=> 'reload' %>
    <%= javascript_include_tag 'core.min' %>
  </head>

  <body class="height-100 display-flex fd-column">
    <div class="display-flex flex-1 fd-column page">
      <div class="display-flex flex-1 fd-column page">
        <%= render 'layouts/navigation' %>
        <%= render 'shared/message' %>
        <main class="page-content flex-1">
          <% if (action_name == "home" and controller_name === "pages") or (controller_name == "hommages" and (action_name === "list" or action_name === "index" or action_name === "search")) %>
            <%= yield %>
          <% else %>
            <section class="section-34 section-bottom-78">
              <%= yield %>
            </section>
          <% end %>
        </main>

        <%= render 'layouts/footer' %>
      </div>
    </div>
    <% if (action_name == "show" and controller_name == "hommages") or (action_name == "pages" and controller_name == "home") %>
      <% render 'layouts/gallery' %>
    <% end %>

    <%= javascript_include_tag 'core.min' %>
    <%= javascript_include_tag 'jsfooter' %>
  </body>
</html>
