<!DOCTYPE html>
<html>
  <head>
    <title>Datafter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="page">
    <%= render 'layouts/navigation' %>
  </div>

 <%= render 'shared/message' %>

  <div class="container"><%= yield %></div>
  <%= javascript_include_tag 'core.min' %>
  <%= javascript_include_tag 'jsfooter' %>
  </body>
</html>
